<div class="container">
    <div class="jumbotron showcase">
        <h1 class="display-4">Recover stolen vehicles</h1>
        <p class="lead">Need proffesional recovery team for your stolen vehicle. Look no further we are that team.</p>
        <hr class="my-4">
        <p>To report you stolen vehicle , press the following button</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Report car</a>
        </p>
    </div>
</div>