<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3>There are currently <span class="text-success ">{{counter}}</span> license plates in the database</h3>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="row">
        <div class="col">
            <h5>All the plates will be represented by the Town in a table
                </h>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="row">
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{town_name}}
                </button>
                {{#each town_list}}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/{{town_name}}">{{initials}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>