<div class="container">
    
    <div class="row">
        <div class="col">
            <h5 class="mb-4">Fill in the registration number below.</h5>
            <div class="row">
        <form action="/reporting" method="POST">
            <div class="form-group">
                <h3 for="exampleInputEmail1">License plate</h3>
                <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter your registration plate">
                <small id="emailHelp" class="form-text text-muted">Your registration plate will be share with eveyone</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
        </div>
        <div class="col">
            <h5>How it works:</h5>
            <ul>
                <li>You cannot report a vehicle already reported</li>
                <li>Only enter registration number of the vehicle</li>
                <li><span class="text-danger">PLEASE</span> don't enter someone else's registration number</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
                <h3>{{messages.info}}</h3>
                <h3>{{messages.found}}</h3>
        </div>
    </div>
</div>